@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
    user-select: none;
}

html {
    font-size: 16px;
}

body {
    min-height: 100vh;
    background-color: #000000;
    overflow-x: hidden;
    display: none;
}

/* Default */
a {
    text-decoration: none;
    color: white;
    transition: color 0.2s ease;
}

a:hover {
    color: #f0f0f0;
    cursor: default;
}

p:hover,
h1:hover,
h2:hover {
    cursor: default;
}

.mudaidioma {
    animation: mudaidioma 0.2s linear;
}

@keyframes mudaidioma {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Header */
header {
    padding: 1rem 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    background-color: #000000;
}

header #logo {
    height: 4rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

header #logo:hover {
    cursor: pointer;
    transform: scale(1.1);
}

header #itens {
    display: flex;
}

header #itens .item {
    margin: 1rem;
    border: 1px solid white;
    padding: 0.5rem 1rem;
    border-radius: 7px;
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}

header #itens .item:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transform: scale(1.1);
}

#ico-idioma {
    max-height: 1.3rem;
}

#idioma {
    display: flex;
    min-width: 110px;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s linear;
    cursor: pointer;
}

#idioma:hover {
    transform: scale(1.1);
}

#name-idioma {
    font-weight: bold;
    user-select: none;
    color: #ffffff;
    cursor: pointer;
    padding-left: 5px;
}

/* Main */
main {
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    background-color: #000000;
}

/*Sec1*/
#sec1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 1rem;
    max-width: 1600px;
    width: 70%;
    box-shadow: #00000079 0px 50px 60px -12px inset, #000000a6 0px 18px 86px -18px inset;
    transition: transform 0.2s ease, box-shadow 1s ease, background-color 0.2s ease;
}

#sec1:hover {
    box-shadow: 0 1px 15px white;
    transform: scale(1.1);
    transition: transform 0.2s ease, box-shadow 1s ease, background-color 0.2s ease;
}

#sec1 p {
    font-size: 1.2rem;
}

#sec1 h1 {
    font-size: 3rem;
}

/* Textos */
#txts {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    margin: 0 5rem;
    transition: 0.2s ease;
}

#txts p,
h1,
h2 {
    text-align: left;
}

#txt1 {
    font-family: "Space Grotesk", sans-serif;
}

#txt2 {
    font-family: "Space Grotesk", sans-serif;
    font-weight: bold;
}


#txt3 {
    font-family: "Space Grotesk", sans-serif;
    font-weight: bold;
}

#txt4 {
    width: 100%;
    color: gray;
    font-style: italic;
    margin-top: 1rem;
}

/*Icones*/
#info {
    margin: 1em 0;
    text-align: left;
}

#info a {
    color: #000000;
    display: flex;
    text-indent: 0.5em;
    align-items: center;
    transition: transform 0.2s ease;
}

#info a:hover {
    transform: scale(1.02);
}

#info p {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 16px;
}

.textum {
    display: flex;
    color: gray;
    font-style: italic;
    margin: 1em;
}

.iicone {
    height: 1.5em;
}

#pfacul {
    font-weight: bold;
    text-decoration: none;
    transition: color 0.2s ease;
}

#ptxtfacul {
    text-decoration: none;
    transition: color 0.2s ease;
}

#plocal {
    font-weight: bold;
    text-decoration: none;
    transition: color 0.2s ease;
}

#ptxtlocal {
    text-decoration: none;
    transition: color 0.2s ease;
}

#pgmail {
    font-weight: bold;
    text-decoration: none;
    transition: color 0.2s ease;
}

#ptxtgmail {
    text-decoration: none;
    transition: color 0.2s ease;
}

#ptrofeu {
    font-weight: bold;
    text-decoration: none;
    transition: color 0.2s ease;
}

#ptxttrofeu {
    text-decoration: none;
    transition: color 0.2s ease;
}

/* Redes sociais */
.redes {
    height: 1.7rem;
    margin: 0.2rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.redes:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#rede {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    max-width: 30%;
}

/*Sec 2*/

#sec2 {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 1rem;
    max-width: 1600px;
    width: 70%;
    margin-top: 3rem;
    box-shadow: #00000079 0px 50px 60px -12px inset, #000000a6 0px 18px 86px -18px inset;
    transition: transform 0.2s ease, box-shadow 1s ease, background-color 0.2s ease;
}

#sec2 h1 {
    font-family: "Space Grotesk", sans-serif;
    margin: 0 5rem 2rem 5rem;
}

#sec2-pt2 {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-wrap: wrap;
    margin: 0;
}

#sec2:hover {
    box-shadow: 0 1px 15px white;
    transform: scale(1.1);
    transition: transform 0.2s ease, box-shadow 1s ease, background-color 0.2s ease;
}

#breve{
    margin: 0 5rem 2rem 5rem;
}

.place-language {
    display: flex;
    align-items: center;
    margin: 1rem 2rem;
}

.font-icon {
    font-family: "Space Grotesk", sans-serif;
    color: #575757;
    font-size: 1rem;
    font-style: italic;
    text-align: left;
}

.icon-language {
    height: 1.3rem;
    padding-right: 0.5rem;
}

#frontend {
    margin: 0 5em;
}

#backend {
    margin: 0 5em;
}

#ferramentas {
    margin: 0 5em;
}

#frontend h2 {
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
    margin: 1rem 0;
}

#backend h2 {
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
    margin: 1rem 0;
}

#ferramentas h2 {
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
    margin: 1rem 0;
}

/* Icones Languages */

#css {
    transition: 0.2s ease;
}

#css:hover {
    transform: scale(1.1);
}

#node {
    filter: drop-shadow(0 0 0.75rem #47b280);
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

footer #cop {
    color: white;
    margin-top: 1rem;
}

footer .social {
    height: 2rem;
    margin: 0.5rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

footer .social:hover {
    transform: scale(1.1);
}



@media screen and (max-width: 1570px) {
    header #itens .item {
        padding: 0.5rem 1.5rem;
    }

    #txts {
        margin: 0 2rem;
        flex: 1;
        transition: 0.2s ease;
    }

    .place-language p {
        color: #575757;
        font-style: italic;
        font-weight: 600;
        font-size: 1rem;
        font-family: "Space Grotesk", sans-serif;
    }

    .icon-language {
        height: 1.3rem;
        padding-right: 0.5rem;
    }

    #frontend {
        margin: 0 2em;
    }

    #backend {
        margin: 0 2em;
    }

    #ferramentas {
        margin: 0 2em;
    }

    #frontend h2 {
        text-align: center;
        font-family: "Space Grotesk", sans-serif;
        margin: 0.3rem 0;
    }

    #backend h2 {
        text-align: center;
        font-family: "Space Grotesk", sans-serif;
        margin: 0.3rem 0;
    }

    #ferramentas h2 {
        text-align: center;
        font-family: "Space Grotesk", sans-serif;
        margin: 0.3rem 0;
    }

}

@media screen and (max-width: 1280px) {
    header #itens .item {
        padding: 0.5rem 1.5rem;
    }

    #txts {
        margin: 0 2rem;
        flex: 1;
        transition: 0.2s ease;
    }

    .place-language p {
        color: #575757;
        font-style: italic;
        font-weight: 600;
        font-size: 1rem;
        font-family: "Space Grotesk", sans-serif;
    }

    .icon-language {
        height: 1.3rem;
        padding-right: 0.5rem;
    }

    #frontend {
        margin: 0 1em;
    }

    #backend {
        margin: 0 1em;
    }

    #ferramentas {
        margin: 0 1em;
    }

    #frontend h2 {
        text-align: center;
        font-family: "Space Grotesk", sans-serif;
        margin: 1rem 0;
    }

    #backend h2 {
        text-align: center;
        font-family: "Space Grotesk", sans-serif;
        margin: 1rem 0;
    }

    #ferramentas h2 {
        text-align: center;
        font-family: "Space Grotesk", sans-serif;
        margin: 1rem 0;
    }

}

@media screen and (max-width: 1024px) {
    #sec1 {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }

    #sec2 {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }

    main {
        color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    #frontend {
        margin: 0 0.3em;
    }

    #backend {
        margin: 0 0.3em;
    }

    #ferramentas {
        margin: 0 0.3em;
    }

    #txts {
        margin: 1rem 0;
        text-align: center;
    }

    #rede {
        width: 50%;
        flex-direction: row;
    }
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    #sec1 {
        color: #000000;
        display: flex;
        justify-content: left;
        align-items: center;
        background-color: #ffffff;
        padding: 2rem;
        border-radius: 0;
        width: 100%;
        box-shadow: none;
    }

    #sec2 {
        color: #000000;
        display: flex;
        justify-content: left;
        align-items: center;
        background-color: #ffffff;
        padding: 2rem;
        border-radius: 0;
        width: 100%;
        box-shadow: none;
    }

    #txts {
        margin: 1rem;
        text-align: center;
    }

    .place-language p {
        color: #000000;
        font-style: italic;
        font-weight: 600;
        font-size: 1rem;
        font-family: "Space Grotesk", sans-serif;
    }

    #frontend h2 {
        text-align: center;
        font-family: "Space Grotesk", sans-serif;
        margin: 1rem 0;
    }

    #backend h2 {
        text-align: center;
        font-family: "Space Grotesk", sans-serif;
        margin: 1rem 0;
    }

    #ferramentas h2 {
        text-align: center;
        font-family: "Space Grotesk", sans-serif;
        margin: 1rem 0;
    }

    .icon-language {
        height: 1.3rem;
        padding-right: 0.5rem;
    }

    #rede {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        max-width: 100%;
        flex-direction: row;
    }

    footer #sociais {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {

    #info {
        display: flex;
        flex-direction: column;
    }

    #rede {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        max-width: 0;
        flex-direction: row;
    }

    main {
        color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    #sec1 {
        color: #000000;
        display: flex;
        justify-content: left;
        align-items: center;
        background-color: #ffffff;
        padding: 2rem;
        border-radius: 0;
        width: 100%;
        box-shadow: 0;
    }

    #sec2 {
        color: #000000;
        display: flex;
        justify-content: left;
        align-items: center;
        background-color: #ffffff;
        padding: 2rem;
        border-radius: 0;
        width: 100%;
        box-shadow: none;
    }

    #txts {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        font-size: 0.9rem;
    }

    #txt4 {
        width: 90%;
    }

    footer #cop {
        text-align: center;
        font-size: 0.8rem;
    }

    header {
        padding: 1rem 2%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: auto;
    }

    #frontend h2 {
        text-align: center;
        font-family: "Space Grotesk", sans-serif;
        margin: 1rem 0;
    }

    #backend h2 {
        text-align: center;
        font-family: "Space Grotesk", sans-serif;
        margin: 1rem 0;
    }

    #ferramentas h2 {
        text-align: center;
        font-family: "Space Grotesk", sans-serif;
        margin: 1rem 0;
    }
}